body {
  margin: 50px auto;
  padding: 50px;
  font-family: sans-serif;
  background-color: rgb(236, 236, 236);
}

#root{
  width: 80%;
  margin: 50px auto;
  padding: 20px;
  color: rgb(43, 47, 54);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 0.9em; 
}
